<ion-menu [swipeEnabled] = "enableSwipe()" [content]="content">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <div *ngFor="let p of pages">
      <button *ngIf = "enableMenuOption(p)" menuClose ion-item (click)="openPage(p)">
        {{p.title}}
      </button>
      </div>
      <button ion-item menuClose (click)="logout()">
        Log out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>