page-user-details {
    .circle-pic{
        overflow: hidden;
        border-radius: 50%;
        height: 200px; 
        width: 200px; 
        border: 5px solid map-get($colors, primary);
    }

    .logo-container{
        width: 55%;
        height: 50%;
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background: transparent;
        text-align: center;
    }

    .info{
        color: map-get($colors, primary);
        font-size: 20px;
    }

    .logo-name{
        font-size: 30px;
        color:map-get($colors, primary);
        padding: 0px;
        margin: 0px;
        font-weight: bold;
    }
    .logo-separator{
        background-color:map-get($colors, primary);
        height:2px;
        margin: 10px;
    }
    .logo-rating{
        font-size: 25px;
        font-weight: bold;
        color:map-get($colors, third);
        padding: 0px;
        margin: 0px;
    }

    .logo-desc{
        font-size: 20px;
        color:map-get($colors, primary) !important;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-top: 0px;
    }
    .contactInfo{
        p{
            color: map-get($colors, primary) !important;
            padding: 5px;
        }
    }
}