<ion-content class="login-content" padding>
  
  <div class="login-box">
    <form (submit)="doLogin()">
      <ion-list inset>

        <div class="title">
          <!--LOGIN -->
           <ion-img class = "logo"src="assets/imgs/logo.png" ></ion-img>
        </div>
        <h3>Sign in</h3>
        <ion-item>
          <ion-input placeholder="email" type="text" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input placeholder="password" type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div class="passItem" tappable (click)="togglePass()"> <!-- event binding -->
          <ion-row>
            <ion-icon style="font-size:1.3em;color:black;" [name]="passIcon()"></ion-icon> <!-- property binding-->
            <div class="passRem">
              Remember password
            </div>
          </ion-row>
        </div>


        <div padding>
          <button ion-button block [disabled]="isLoading">
            <div *ngIf="isLoading">
              <ion-spinner name="bubbles"></ion-spinner>
            </div>
            <div *ngIf="!isLoading">
              login
            </div>
          </button>
        </div>



      </ion-list>
    </form>

  </div>
</ion-content>
