page-login {

    .login-content{

        
        background-size: cover;
        z-index: 1;

        .login-box{
            background: white;
            padding: 20px 20px 10px 20px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30%;
            border-radius: 5px !important;
        }

        ion-item {
            border-radius: 5px !important;
            padding-left: 20px !important;
            font-size: 1.2em;
            margin-bottom: 10px;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }


        .passRem{
            color: black;
            font-size: 1.2em;
            padding-left: 0.5em;
        }

        .passItem{
            padding-left: 20px;
        }

        .title{
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
            
        }

        button {
            background: map-get($button-colors, primary);
            border-radius: 5px !important;
        }
    }
}
