page-create-event {

    ion-input{
        color: map-get($colors, primary) !important;
    }

    ion-item-divider{
        color: map-get($colors, primary) !important;
    }

    ion-label{
        color: map-get($colors, primary) !important;
    }

    textarea {
        resize: none;
        display: block;
        width: 250px !important;
        height: 110px !important;
      }
}
