<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create event</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item-divider >
      <ion-icon color="primary" item-start name="lock"></ion-icon>
      {{ "General Info" }}
    </ion-item-divider>
    <ion-item no-lines>
      <ion-input color="primary" placeholder="NAME" [(ngModel)]="event.name" name="name" type="text"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-input placeholder="START DATE" [(ngModel)]="event.date" name="startDate" type="date"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-icon color="primary" item-start name="paper"></ion-icon>
      {{ "Details" }}
    </ion-item-divider>

    <ion-item no-lines>
      <ion-label item-start>
        Category
      </ion-label>
      <ion-select item-start [(ngModel)]="event.category" name="Category">
        <ion-option value="IT">IT</ion-option>
        <ion-option value="Music">Music</ion-option>
        <ion-option value="Social">Social</ion-option>
        <ion-option value="Art">Art</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines> 
      <ion-label>
        Description
      </ion-label>
    </ion-item>
    <ion-item no-lines>

      <textarea [(ngModel)]="event.description"></textarea>
    </ion-item>


    <div style="padding-top: 50x;" padding>
        <button ion-button block (click)="createEvent()" [disabled]="isLoading">
          <div *ngIf="isLoading">
            <ion-spinner name="bubbles"></ion-spinner>
          </div>
          <div *ngIf="!isLoading">
            Create event
          </div>
        </button>
      </div>

  </ion-list>

</ion-content>