page-events {

    ion-item{
        padding: 0px !important;
        margin: 0px !important;
    }

    ion-card-content{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .input-wrapper{
        padding:0px !important;
        margin: 0px !important;
    }
    .coverImage{
        background: transparent;
    }
    .eventHeader{
            color: map-get($colors, primary);
            border-radius: 16px !important;
            height: 25px;
            font-weight: bolder;
            font-family: 'OpenSans-Bold';
            src:url("assets/fonts/OpenSans-Bold.ttf") format("ttf");
            font-size:18px;
    }
    
}
