page-organization-details {
    .coverImage{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 28%;
        border-radius: 0 0 5% 5%;
    }
    .innerContent{
        padding: 10px;
    }

    h2{
        font-weight: bold;
        color: black;    
    }

    .description{
        background-color: #dddddd;
        border-radius: 2%;
        margin: 5px;
        min-height: 50px;
        padding: 10px;
        
        p{
            font-weight: bold;
        }
    }

    .contactInfo{
        p{
            color: black;
            padding: 5px;
        }
    }
}
