page-events-dash-board {
    ion-card-content{
        width: 350px !important;
        height: 490px !important;
        padding: 0px !important;    
    }

    ion-img{
        width: 90% !important;
        height: 85% !important;
        z-index: -2;
    }
}
